body{
 background-color:#4f4f8d;
 margin:0px;
 padding:0px;
}
ul{
 list-style:none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:#ffffff;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    padding:0px 5%;
   }
   nav ul{
    display: flex;
   } 
   nav ul li a{
    margin:30px;
    font-family:myriad pro regular;
    color:#505050;
    font-size: 20px;
    font-weight:700;
   }
a{
 text-decoration:none;
 color: white;
 font-weight: bold;
 font-size: 20px;
}
section{
 width:100%;
 height:50vh;
 position: relative;
}

.text-container p{
 line-height:5px;
 text-align: center;
 font-size: 30px;
 color: #ffffff;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#name{
font-size: 75px;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color:#ffffff;
}
.about-container{
 width:80%;
 height:330px;
 background:#ffffff;
 border-radius:20px;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 display: flex;
 margin: -9%  auto 20px auto;
 position: relative;
 justify-content:space-evenly;
 align-items: center;
}
.about-container img{
 height:250px;

}
.about-text{
 width:500px;
} 
#aboutme {
 color:black;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 font-size:30px;
 line-height:0px;
}
.about-text #text-title{
 color:#3e3d3d;
 font-size:20px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 line-height:5px;
}

.about-text p:nth-child(3),.about-text p:nth-child(4){
 color:#7e7d7d;
 font-family:calibri;
 font-size:19px;
}
.projects{
 height:600px;
 background-color:#ffffff;
 padding: 2% 10% 0px 10%;
}
.projects-text p:nth-child(1){
 font-family: calibri;
 font-weight:bold;
 color:#1d1c1c;
 font-size:30px;
 line-height:0px;
}
.projects-text p:nth-child(2){
 font-family:calibri;
 font-weight: bold;
 color:#3e3d3d;
 font-size: 17px;
 line-height: 5px;
}
.projects-text p:nth-child(3){font-family:calibri;
color:#7e7d7d;
font-size: 15px;
}
.projects-text{
 width: 500px;
 margin:50px 0px;
}
.box-container{
 display:flex;
 justify-content:space-between;
}
.box-1,.box-2,.box-3{
 width: 300px;
 height:320px;
 background-color: #4f4f8d;
 background-repeat: no-repeat;
 background-size: cover;
 box-shadow:2px 2px 18px rgba(0,0,0,0.3);
 align-items: center;
 justify-content: center;
 display: flex;
 flex-direction: column;
 margin: 0px 4px;
}
span{
 width:40px;
 height:40px;
 border-radius:50%;
 color:#ffffff;
 display: flex;
 justify-content: center;
 align-items:center;
 font-family: calibri;
 font-weight: bold;
}
.box{
 color:#FFFFFF;
 font-family: calibri;
 font-size: 23px;
 line-height:0px;
}
.box-1 p:nth-child(3),
.box-2 p:nth-child(3),
.box-3 p:nth-child(3){
 font-family: calibri;
 color:white;
 text-align:center;
 width: 230px;
 margin:0px 0px 20px 0px;
}
footer p{
 font-family: calibri;
}
footer{
 height:300px;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 position: relative;
}
.social-icons a{
 width:40px;
 height:40px;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color:#e6e3e3;
 margin:40px 10px;
 border-radius:50%;
}
.social-icons{
 display: flex;
 margin-top: 125px;
}
.social-icons i,.social i{
 color:#000000;
}
.social-icons a:hover{
 background-color:#000000;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
 transition:all ease 0.5s;
}
.social-icons a:hover i,
.social a:hover i{
 color:#FFFFFF;
 transition:all ease 0.5s;
}
.socialscroll{
 position: fixed;
 top:50%;
 right:0px;
 transform:translateY(-50%);
}
.socialscroll a{
 display: flex;
 justify-content: center;
 align-items: center;
 width:50px;
 height:50px;
 margin:0px;
 padding: 0px;
 line-height:0px;
 background-color:#FFFFFF;
 border:1px solid #CBCBCB;
 box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}
.socialscroll a:hover{
 background-color:#000000;
 transition:all ease 0.5s;
}
.socialscroll i{
 font-size:20px;
 color:#2B2B2B;
}
